<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-show="selected_api.url">{{selected_api.url}}</h1>

            <h1 class="page-header" ng-show="!selected_api.url">HTTP API</h1>
        </div>
    </div>

    <div class="row" ng-show="!selected_api">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Here will be displayed information about HTTP API of monitored application.
                    <br><br>
                    Some tips for increasing the amount of information provided to you by this documentation:
                    <ul>
                        <li>
                            Try to use all HTTP endpoints in at least one test suite.
                        </li>
                        <li>
                            Add validation scheme and try to set correctly the test suite.
                        </li>
                        <li>
                            All settings you used in a valid (a passing test suite) will be used to enhance
                            automatically this documentation.
                        </li>
                        <li>
                            From <i>Application Status/WEB</i> you can edit and add more information to each exposed
                            service.
                            This will be automatically added to this documentation.
                        </li>
                    </ul>

                    <br>
                    To start using this documentation please select required service from the left menu.
                </div>

                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="selected_api" ng-repeat="(method, method_data) in selected_api.method">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info-circle fa-fw"></i> {{method}} {{selected_api.url}}
                </div>

                <div class="panel-body">
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                URL
                            </div>
                            <div class="panel-body">
                                <p>{{selected_api.url}}</p><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Method:
                            </div>

                            <div class="panel-body">
                                <p>{{method}}</p><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-lg-4" ng-show="method_data.monitor">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Authorization
                            </div>

                            <div class="panel-body" ng-show="method_data.require_authorization">
                                Require authentication (a previous login service call and use of cookies).<br>
                            </div>
                            <div class="panel-body" ng-show="!method_data.require_authorization">
                                Do not require authentication.<br><br>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-lg-4" ng-show="!method_data.monitor">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                Warning - this service was not used
                            </div>

                            <div class="panel-body">
                                <p>No data about this service. Please use this service in a test suite to be able to
                                    gather
                                    more information.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Curl example command
                            </div>

                            <div class="panel-body">
                                <div class="well"  style="background-color: #222222; color: #ffffff;">
                                    <code style="background-color: #222222; color: #ffffff;">
                                        curl -i -X {{method}}<span ng-show="method_data.request.body.length">  -H "Content-Type: application/json" -d '{{method_data.request.body[0]}}'</span><span
                                            ng-show="method_data.require_authorization"> -b 'seneca-login=&lt;&lt;login_token&gt;&gt;'</span>
                                        {{doc_app.protocol}}://{{doc_app.host}}:{{doc_app.port}}{{selected_api.url}}
                                    </code>
                                </div>
                            </div>
                            <div class="panel-footer">
                                Variable of the form &lt;&lt;var_name&gt;&gt; should be replaced accordingly.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="method_data.request.body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Request:
                            </div>

                            <div class="panel-body">
                                <h4>
                                    Request body examples:
                                </h4>
                                <ul>
                                    <li class="well" ng-repeat="body in method_data.request.body">
                                        <pre>{{body | json}}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="method_data.monitor">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Response:
                            </div>

                            <div class="panel-body">
                                <h4>
                                    Expected status
                                </h4>
                                <ul>
                                    <li>{{method_data.response.expectedStatus}}</li>
                                </ul>

                                <h4>
                                    Validation schema examples:
                                </h4>
                                <ul>
                                    <li class="well" ng-repeat="schema in method_data.response.schema">
                                        <pre>{{schema | json}}</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
