<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="register()" method='post' ng-controller='LoginCtrl'>
                        <fieldset>
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" name="firstName" autofocus ng-model="registerData.firstName">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" name="lastName" autofocus ng-model="registerData.lastName">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input class="form-control" name="email" type="email" autofocus ng-model="registerData.email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" name="password" type="password" value="" ng-model="registerData.password">
                            </div>
                            <button class="btn btn-lg btn-success btn-block">Register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>