<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">HTTP API</h1>
        </div>
    </div>

    <div class="row" ng-show="!selected_api">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Here will be displayed information about HTTP API of monitored application.
                    <br><br>
                    Some tips for increasing the amount of information provided to you by this documentation:
                    <ul>
                        <li>
                            Try to use all HTTP endpoints in at least one test suite.
                        </li>
                        <li>
                            Add validation scheme and try to set correctly the test suite.
                        </li>
                        <li>
                            All settings you used in a valid (a passing test suite) will be used to enhance automatically this documentation.
                        </li>
                        <li>
                            From <i>Application Status/WEB</i> you can edit and add more information to each exposed service.
                            This will be automatically added to this documentation.
                        </li>
                    </ul>

                    <br>
                    To start using this documentation please select required service from the left menu.
                </div>

                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="selected_api">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> {{selected_api.url}}
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <label>URL</label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <label>{{selected_api.url}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                    <div class="row" ng-repeat="method in selected_api.method">
                        <div class="alert alert-info col-xs-4 col-sm-4 col-lg-4">
                            <label>Method</label>
                        </div>
                        <div class="alert alert-info col-xs-8 col-sm-8 col-lg-8">
                            <label>{{method}}</label>
                        </div>

                        <div class="col-xs-8 col-sm-8 col-lg-8" ng-show="!selected_api.monitor">
                            <label>Curl example command.</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <pre style="background-color: #222222;">
                                <code style="background-color: #222222; color: #ffffff;">
                                    curl -i -X {{method}} {{doc_app.protocol}}://{{doc_app.host}}:{{doc_app.port}}{{selected_api.url}}
                                </code>
                            </pre>
                        </div>

                        <div class="col-xs-8 col-sm-8 col-lg-8" ng-show="!selected_api.monitor">
                            <label>No more data about this service. Please use this service in a test suite to be able to gather information.</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-lg-8">
                            <br>
                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>


</div>
