<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.panel -->
    <div class="row">


        <div class="col-xs-8 col-sm-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-info-circle fa-fw"></i> Available applications
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Last connect time</th>
                                    <th>Connected</th>
                                    <th>Test Suites</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="mite in mites">
                                    <td><label>{{mite.name}}</label></td>
                                    <td>{{mite.last_connect_time ? (mite.last_connect_time | date:'medium') :
                                        'Never'}}</td>
                                    <td align="center" ng-show="'monitoring' !== mite.status"><img src="/images/fail.png"
                                                                                                   height="25"/></td>
                                    <td align="center" ng-show="'monitoring' === mite.status"><img src="/images/ok.png"
                                                                                                   height="25"/></td>
                                    <td align="center" ng-show="!mite.suites_validated"><img src="/images/fail.png"
                                                                                                   height="25"/></td>
                                    <td align="center" ng-show="mite.suites_validated"><img src="/images/ok.png"
                                                                                                   height="25"/></td>
                                    <td class="text-center">
                                        <a href="#/dashboard/status/{{mite.id}}"
                                           class="btn btn-info"
                                                >Status
                                        </a>
                                        <a href="#/dashboard/suite/{{mite.id}}"
                                           class="btn btn-info"
                                                >Test suites
                                        </a>
                                        <a href="#/dashboard/doc/{{mite.id}}"
                                           class="btn btn-info"
                                                >API Doc
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-info-circle fa-fw"></i> Notifications Panel
                </div>


                <div class="panel-body">
                    <div class="list-group">
                        <div ng-repeat="notification in notifications">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw" ng-show="notification.type === 'error'"></i>
                                <i class="fa fa-book fa-fw" ng-show="notification.type === 'message'"></i>
                                {{notification.message}}
                <span class="pull-right text-muted small"><em>{{notification.date | date:'medium'}}</em>
                </span>
                            </a>
                        </div>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block disabled">View All Alerts</a>
                </div>
            </div>
        </div>


    </div>

</div>
