<div ng-controller='SuiteCtrl'>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Test Suites</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.panel -->
    <div class="row" ng-show="viewMode === 'list'">
        <div class="col-xs-10 col-sm-10 col-lg-10 text-right">
            <button class="btn btn-sm btn-info margin-10" ng-click="change2Create()">
                Create test suite
            </button>
            <button class="btn btn-sm btn-info margin-10" ng-click="showImport = !showImport" ng-show="showImport">
                Hide import
            </button>
            <button class="btn btn-sm btn-info margin-10" ng-click="showImport = !showImport" ng-show="!showImport">
                Import test suite
            </button>
            <br><br>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-4" ng-show="showImport">
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2" ng-show="showImport">
            <select class="form-control" ng-model="import_mite_id" ng-click="select_app_import()">
                <option ng-repeat="mite in mites" value="{{mite.id}}" class="ng-scope ng-binding">{{mite.name}}</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2" ng-show="showImport">
            <select class="form-control" ng-model="import_suite_id">
                <option ng-repeat="suite in import_suites" value="{{suite.id}}" class="ng-scope ng-binding">{{suite.name}}</option>
            </select>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2 text-right" ng-show="showImport">
            <button class="btn btn-sm btn-info margin-10" ng-click="importSuite()" ng-disabled="!import_suite_id">
                Import selected
            </button>
            <button class="btn btn-sm btn-info margin-10" ng-click="importAllSuites()" ng-disabled="!import_mite_id">
                Import all
            </button>
            <br><br>
        </div>
    </div>

    <div class="row" ng-show="viewMode === 'list'">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Available test suites
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Suite Name</th>
                                    <th>Last test date</th>
                                    <th>Last test result</th>
                                    <th>Monitoring</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="suite in mite.suites">
                                    <td><label>{{suite.name}}</label></td>
                                    <td>{{suite.last_test_date ? (suite.last_test_date | date:'medium') :
                                        'Never'}}</td>
                                    <td align="center" ng-show="!suite.validated"><img src="/images/fail.png"
                                                                                                   height="25"/></td>
                                    <td align="center" ng-show="suite.validated"><img src="/images/ok.png"
                                                                                                   height="25"/></td>

                                    <td align="center" ng-show="!suite.monitoring"><img src="/images/fail.png"
                                                                                                   height="25"/></td>
                                    <td align="center" ng-show="suite.monitoring"><img src="/images/ok.png"
                                                                                                   height="25"/></td>
                                    <td class="text-center">
                                        <button type="submit" ng-click="editSuiteFct(suite.id)"
                                                class="btn btn-info"
                                                >Edit
                                        </button>
                                        <button type="submit" ng-click="runSuite(mite.id, suite.id)"
                                                class="btn btn-info"
                                                >Run Once
                                        </button>

                                        <button type="submit" class="btn btn-success btn-outline"
                                                ng-click="startMonitoring(mite.id, suite.id)" ng-show="!suite.monitoring">
                                            Start monitoring
                                        </button>
                                        <button type="submit" class="btn btn-danger btn-outline"
                                                ng-click="stopMonitoring(mite.id, suite.id)" ng-show="suite.monitoring">
                                            Stop monitoring
                                        </button>

                                        <a href="#/dashboard/suite_test/{{mite.id}}/suite/{{suite.id}}"
                                           class="btn btn-info"
                                                >Status
                                        </a>
                                        <button type="submit" class="btn btn-danger"
                                                ng-click="deleteSuite(suite.id)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" ng-show="viewMode === 'edit'">
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Suite configuration
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-8 col-sm-8 col-lg-8">
                            <label>Suite name</label>
                            <input class="form-control" name="name" autofocus ng-model="editSuite.name">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-lg-4">
                            <div class="form-group">
                                <label>Test time interval</label>
                                <input class="form-control" name="name" autofocus ng-model="editSuite.monitor_interval">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-1 col-sm-1 col-lg-1">
                            <label>
                                <input type="checkbox" ng-model="editSuite.active" class="ng-pristine ng-valid">
                                Active
                            </label>
                        </div>
                        <div class="form-group col-xs-7 col-sm-7 col-lg-7">
                            <label>Add URL to suite</label>
                            <select class="form-control" ng-model="web_id" ng-click="addUrl()">
                                <option ng-repeat="web in mite.web_api.data" value="{{web.id}}">{{web.method}} - {{web.url}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <table class="table table-striped table-bordered table-hover" ng-show="editSuite.urls">
                            <thead>
                            <tr>
                                <th>
                                    <div class="col-xs-2 col-sm-2 col-lg-2">
                                        Position
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                        URL
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-lg-2">
                                        Method
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                        Action
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="web in editSuite.urls">
                                <td>
                                    <div class="col-xs-2 col-sm-2 col-lg-2">
                                        <button type="submit" ng-click="moveDown(web)" class="btn btn-info btn-outline">
                                            <i class="fa fa-arrow-circle-o-down fa-fw"></i>
                                        </button>
                                        <button type="submit" ng-click="moveUp(web)" class="btn btn-info btn-outline">
                                            <i class="fa fa-arrow-circle-o-up fa-fw"></i>
                                        </button>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                        {{web.url}}
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-lg-2">
                                        {{web.method}}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                        <button type="submit" ng-show="showConfiguration" ng-click="showConfiguration = !showConfiguration"
                                                class="btn btn-info"
                                                >Hide Configuration
                                        </button>
                                        <button type="submit" ng-show="!showConfiguration" ng-click="showConfiguration = !showConfiguration"
                                                class="btn btn-info"
                                                >Configure request
                                        </button>
                                        <button type="submit" class="btn btn-danger" ng-click="deleteUrl(web.id)">
                                            Delete
                                        </button>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="showConfiguration">
                                        <div class="panel-body">
                                            <tabset>
                                                <tab heading="Request">
                                                    <div class="panel-body">
                                                        <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                                                            <label>URL</label>
                                                            <input class="form-control" name="variable_property" autofocus ng-model="web.url">
                                                        </div>

                                                        <div class="form-group col-xs-2 col-sm-2 col-lg-2">
                                                            <label>
                                                                <input type="checkbox" ng-model="web.authorized">
                                                                Require auth token (from previous login request)</label>
                                                        </div>
                                                        <div class="form-group col-xs-3 col-sm-3 col-lg-3">
                                                            <label>Body</label>
                                                            <textarea rows="3" class="form-control" ng-model="web.request"/>
                                                        </div>
                                                        <div class="form-group col-xs-3 col-sm-3 col-lg-3">
                                                            <label>Extend body</label>
                                                            <textarea rows="3" class="form-control" ng-model="web.extend"/>
                                                        </div>
                                                        <div class="alert alert-info">
                                                            Set here the request body which should be a JSON.
                                                            <br>In case that chain requests are used variable can be used with syntax {variable_name}.
                                                            <br>Extend body can be be used to override body values.
                                                            <br>
                                                        </div>
                                                    </div>

                                                </tab>
                                                <tab heading="Variables">
                                                    <div class="panel-body">
                                                        <div class="form-group col-xs-8 col-sm-8 col-lg-8">
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                                                                <label>Extract and store values from response to use in subsequent requests</label>
                                                            </div>
                                                            <div class="form-group col-xs-5 col-sm-5 col-lg-5">
                                                                <label>Property</label>
                                                                <input class="form-control" name="variable_property" autofocus ng-model="variable_property">
                                                            </div>
                                                            <div class="form-group col-xs-5 col-sm-5 col-lg-5">
                                                                <label>Variable Name</label>
                                                                <input class="form-control" name="variable_name" ng-model="variable_name">
                                                            </div>
                                                            <div class="form-group col-xs-1 col-sm-1 col-lg-1">
                                                                <label></label>
                                                                <button type="submit" class="btn btn-sm btn-info margin-10" ng-click="addVariable(web.id)">
                                                                    Add variable
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="alert alert-info">
                                                            You can define variables that extract data from HTTP response.
                                                            These variables can be used in subsequent requests (body or url) by using the variable matching syntax (i.e. &#123;variable_name&#125;)
                                                            <br><br>
                                                        </div>

                                                        <!--Variable table start-->
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Property</th>
                                                                    <th>Variable Name</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="variable in web.variables">
                                                                    <td><label>{{variable.property}}</label></td>
                                                                    <td><label>{{variable.name}}</label></td>
                                                                    <td class="text-center">
                                                                        <button type="submit" class="btn btn-danger"
                                                                                ng-click="deleteVariable(web.id, variable.id)">
                                                                            Delete
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--Variable table end-->

                                                    </div>
                                                </tab>
                                                <tab heading="Response">
                                                    <div class="panel-body">
                                                        <div class="form-group col-xs-2 col-sm-2 col-lg-2">
                                                            <label>
                                                                <input type="checkbox" ng-model="web.stop_on_error">
                                                                Stop test on error</label>
                                                        </div>
                                                        <div class="form-group col-xs-6 col-sm-6 col-lg-6">
                                                            <label>Validate response body</label>
                                                            <textarea rows="3" class="form-control" name="name" autofocus ng-model="web.validate_response"/>
                                                        </div>
                                                        <div class="alert alert-info">
                                                            Set here the response validation schema.
                                                            <br>Please use <b><a href="https://www.npmjs.com/package/parambulator" target="_blank">Parambulator</a></b> syntax.
                                                            <br><br><br>
                                                        </div>

                                                    </div>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="panel-footer">
                    <button type="submit" class="btn btn-sm btn-info margin-10" ng-click="saveSuite()">
                        Save configuration
                    </button>
                    <button type="submit" class="btn btn-sm btn-info margin-10" ng-click="showList()">
                        Test Suites List
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
